version: '2'
services:

  puppetmaster:
    image: muccg/puppetmaster
    command: puppetmaster
    volumes:
      - ./data/master:/data

  clienta:
    image: muccg/puppet-base:ubuntu-15.10
    hostname: clientb
    command: -c "sleep 5 && puppet agent --confdir /data --server puppetmaster --environment nginx -t"
    volumes:
      - ./data/clienta:/data
    links:
      - puppetmaster

  clientb:
    image: muccg/puppet-base:centos-7
    hostname: clienta
    command: -c "sleep 5 && puppet agent --confdir /data --server puppetmaster --environment nginx -t"
    volumes:
      - ./data/clientb:/data
    links:
      - puppetmaster
